@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.slick-slider {

}

.slick-slide>div {
  margin: 0 30px; 
  
}

.slick-slide>div:nth-child(1) {
  margin-left: 0;
}

.slick-list {
  
}
